@inherits LayoutComponentBase
@inject ILiffClient Liff
@inject IJSRuntime JSRuntime

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    protected override async Task OnInitAsync()
    {
        try
        {
            await Liff.InitializeAsync(JSRuntime);
        }
        catch (Exception e)
        {
            await JSRuntime.InvokeAsync<object>("liffInterop.alert", e.ToString());
        }
    }
}
