@inherits LayoutComponentBase
@inject ILiffClient Liff
@inject IJSRuntime JSRuntime

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-2">
        @Body
        <TodoBot.Client.Pages.Alert Message="@ErrorMessage" AlertType="danger" />
        <TodoBot.Client.Pages.Alert Message="@InfoMessage" AlertType="info" />
    </div>
</div>

@code
{
    string ErrorMessage;
    string InfoMessage;
    protected override async Task OnInitAsync()
    {
        InfoMessage = "MainLayout > OnInitAsync()";
        ErrorMessage = null;
        try
        {
            await Liff.InitializeAsync(JSRuntime);
        }
        catch (Exception e)
        {
            ErrorMessage = e.ToString();
        } 
    }
}
