@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert-danger">
        @ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="@CloseButtonClick">
            <span aria-hidden="true" class="oi oi-x"></span>
        </button>
    </div>
}

@code{
    [Parameter]
    string ErrorMessage { get; set; }

    private void CloseButtonClick()
    {
        ErrorMessage = null;
        StateHasChanged();
    }

}